<div class="container" style="padding-top: 60px;margin-top: 0px;width: 70%;">
    <div class="page-header">
        <select id="item1" name="item1" (change)="submitRamkArtifact()">
            <option value="atk">ATF</option>
            <option value="p_atk">ATF%</option>
            <option value="def">DEF</option>
            <option value="p_def">DEF%</option>
            <option value="hp">HP</option>
            <option value="p_hp">HP%</option>
            <option value="em">EL.Mastery</option>
            <option value="er">En.Recharge</option>
            <option value="cr">Crit. Rate</option>
            <option value="cd">Crit. DMG</option>
        </select>
        <input name="text1" id="text1" type="number" (input)="submitRamkArtifact()"><label id="result1"></label><br>
        <select id="item2" name="item2" (change)="submitRamkArtifact()">
            <option value="atk">ATF</option>
            <option value="p_atk">ATF%</option>
            <option value="def" selected="selected">DEF</option>
            <option value="p_def">DEF%</option>
            <option value="hp">HP</option>
            <option value="p_hp">HP%</option>
            <option value="em">EL.Mastery</option>
            <option value="er">En.Recharge</option>
            <option value="cr">Crit. Rate</option>
            <option value="cd">Crit. DMG</option>
        </select>
        <input name="text2" id="text2" type="number" (input)="submitRamkArtifact()"><label id="result2"></label><br>
        <select id="item3" name="item3" (change)="submitRamkArtifact()">
            <option value="atk">ATF</option>
            <option value="p_atk">ATF%</option>
            <option value="def">DEF</option>
            <option value="p_def">DEF%</option>
            <option value="hp" selected="selected">HP</option>
            <option value="p_hp">HP%</option>
            <option value="em">EL.Mastery</option>
            <option value="er">En.Recharge</option>
            <option value="cr">Crit. Rate</option>
            <option value="cd">Crit. DMG</option>
        </select>
        <input name="text3" id="text3" type="number" (input)="submitRamkArtifact()"><label id="result3"></label><br>
        <select id="item4" name="item4" (change)="submitRamkArtifact()">
            <option value="atk">ATF</option>
            <option value="p_atk">ATF%</option>
            <option value="def">DEF</option>
            <option value="p_def">DEF%</option>
            <option value="hp">HP</option>
            <option value="p_hp">HP%</option>
            <option value="em" selected="selected">EL.Mastery</option>
            <option value="er">En.Recharge</option>
            <option value="cr">Crit. Rate</option>
            <option value="cd">Crit. DMG</option>
        </select>
        <input name="text4" id="text4" type="number" (input)="submitRamkArtifact()"><label id="result4"></label><br>
    </div>
</div>